<!DOCTYPE html>
<html>
<head>
    <title>QuickYelp - Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='outputs.css') }}">
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
    <div id="react-chat"></div>
    
    <!-- react-chat -->
    <script type="text/babel">
        // Inherit React component
        class ChatApp extends React.Component {
            constructor(props) {
                super(props);
                this.state = {
                    chatHistory: [],
                    query: "",
                    waiting: false,
                };
                this.chatLogRef = React.createRef();
            }
    
            // Handle asynchronous calls to Flask
            handleSubmit = async (event) => {
                event.preventDefault();

                const formData = new FormData(event.target);
                const userQuery = formData.get("query");

                try {
                    // Display the user's query in the chat history
                    this.setState((prevState) => ({
                        chatHistory: [...prevState.chatHistory, "USR" + userQuery, "BOTLOADING"],
                        query: "",
                        waiting: true,
                    }), () => {
                            // Scroll the chat log container to the bottom
                            this.chatLogRef.current.scrollTop = this.chatLogRef.current.scrollHeight;
                    });

                    const response = await fetch("/", {
                        method: "POST",
                        body: formData,
                    });

                    if (response.ok) {
                        const data = await response.json();
                        const chatbotReply = data.chatbot_reply;

                        // Replace the user's query with the chatbot's reply
                        // - This allows the user to see the query that is being processed rather
                        //   than delaying it until we receive OpenAI's response
                        this.setState((prevState) => ({
                            chatHistory: [
                                ...prevState.chatHistory.slice(0, -2),
                                "USR" + userQuery,
                                "BOT" + chatbotReply,
                            ],
                            query: "",
                            waiting: false,
                        }), () => {
                            // Scroll the chat log container to the bottom
                            this.chatLogRef.current.scrollTop = this.chatLogRef.current.scrollHeight;
                        });
                    }
                } catch (error) {
                    console.error(error);
                }
            };


            // Update "query" when user types
            handleInputChange = (event) => {
                this.setState({ query: event.target.value });
            };


            // Submit on "enter" button
            handleTextareaKeyDown = (event) => {
                if (event.key === "Enter" && !event.shiftKey) {
                    event.preventDefault();
                    this.handleSubmit(event);
                }
            };


            // Render to the DOM
            render() {
                return (
                    <div id="chat-container">
                        <a href="/" className="logo">
                            <img className="logo" src=".././static/images/quickyelp_logo_white.png" alt="QuickYelp"/>
                        </a>
    
                        <div id="chat-log-container" ref={this.chatLogRef}>
                            <div id="chat-log-content">
                                {this.state.chatHistory.map((entry, index) => (
                                    <div key={index} className="message-container">
                                        <div
                                            className={`${
                                                entry.startsWith("USR") ? "user-message" : "chatbot-message"
                                            } animate-fade-in`}
                                        >
                                            {entry.startsWith("USR") ? "😁 " : "🤖 "}
                                            {entry.substring(3) === "LOADING" && (
                                                <span className="loading-animation"></span>
                                            )}
                                            {entry.substring(3) !== "LOADING" && entry.substring(3)}
                                        </div>
                                    </div>
                                ))}
                            </div>
                        </div>
    
                        <form id="chat-form" onSubmit={this.handleSubmit}>
                            <input
                                type="text"
                                name="query"
                                id="query"
                                placeholder="Ask a question..."
                                value={this.state.query}
                                onChange={this.handleInputChange}
                                autocomplete="off"
                                required
                                disabled={this.state.waiting}
                            />
                            <input type="submit" value="Ask" disabled={this.state.waiting}/>
                        </form>
                    </div>
                );
            }
        }
    
        // Render the ChatApp component
        ReactDOM.render(<ChatApp />, document.getElementById("react-chat"));
    </script>
</body>
</html>

