<!DOCTYPE html>
<html>
<head>
    <title>QuickYelp - Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='outputs.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
    <div id="react-chat"></div>

    <script type="text/babel">
        // Inherit React component
        class ChatApp extends React.Component {
            constructor(props) {
                super(props);

                // Disable chat if data retrieval failed
                let initChat = ["BOT{{ initial_response }}"];
                let initWait = false;
                if ("{{ initial_response }}".startsWith("Success")) {
                    initChat.push("BOTWelcome to QuickYelp! 👋\n- To return home, click the QuickYelp logo in the top left corner.\n- To view the business on Yelp, click the Yelp logo in any chatbot reply, or the Yelp logo in the first message.\n- To hide the header, click the double arrow icon at the top of the screen.\n- Not the right restaurant? Try to use more specific terms, such as the exact address or Yelp display name.")
                }
                else {
                    initWait = true;
                }

                this.state = {
                    chatHistory: initChat,
                    query: "",
                    waiting: initWait,
                    about: false,
                    headerHidden: false,
                    currentHeight: 100,
                };
                this.chatLogRef = React.createRef();
                this.businessName = "{{ business_data['name'] | safe }}";
                this.businessRating = "{{ business_data['overall_rating'] }}";
                this.businessImage = "{{ business_data['image_url'] }}";
                this.businessAddress = "{{ business_data['location']  | safe }}";
            }


            // Toggle the About section (TO-DO)
            toggleAboutSection = () => {
                this.setState((prevState) => ({
                    about: !prevState.about,
                }));
            };


            // Toggle the Header
            toggleHeader = () => {
                this.setState((prevState) => ({
                    about: false,
                    headerHidden: !prevState.headerHidden,
                }));
            };


            // Handle asynchronous calls to Flask
            handleSubmit = async (event) => {
                event.preventDefault();

                const formData = new FormData(event.target);
                const userQuery = formData.get("query");

                try {
                    // Display the user's query in the chat history
                    this.setState((prevState) => ({
                        chatHistory: [...prevState.chatHistory, "USR" + userQuery, "BOTLOADING"],
                        query: "",
                        waiting: true,
                    }), () => {
                        // Scroll the chat log container to the bottom
                        this.chatLogRef.current.scrollTop = this.chatLogRef.current.scrollHeight;
                    });

                    // Fetch the information answer
                    const info = await fetch("/", {
                        method: "POST",
                        body: formData,
                    });

                    if (info.ok) {
                        const data = await info.json();
                        const sanitizedUserQuery = data.sanitized_user_query;
                        const chatbotReply = data.chatbot_reply;

                        // Edge cases: "Notice: ..." -> stop query
                        if (chatbotReply.startsWith("Notice:")) {
                            this.setState((prevState) => ({
                                chatHistory: [
                                    ...prevState.chatHistory.slice(0, -2),
                                    "USR" + sanitizedUserQuery,
                                    "BOT" + chatbotReply,
                                ],
                                query: "",
                                waiting: false,
                            }), () => {
                                // Scroll the chat log container to the bottom
                                this.chatLogRef.current.scrollTop = this.chatLogRef.current.scrollHeight;
                            });
                            return;
                        }

                        this.setState((prevState) => ({
                            chatHistory: [
                                ...prevState.chatHistory.slice(0, -2),
                                "USR" + sanitizedUserQuery,
                                "BOTLOADING",
                                "BLU" + chatbotReply,
                            ]
                        }), () => {
                            // Scroll the chat log container to the bottom
                            this.chatLogRef.current.scrollTop = this.chatLogRef.current.scrollHeight;
                        });
                    }

                    // Fetch the review answer
                    const review = await fetch("/", {
                        method: "POST",
                        body: formData,
                    });

                    if (review.ok) {
                        const data = await review.json();
                        const chatbotReply = data.chatbot_reply;

                        this.setState((prevState) => ({
                            chatHistory: [
                                ...prevState.chatHistory,
                                "BLU" + chatbotReply,
                            ]
                        }), () => {
                            // Scroll the chat log container to the bottom
                            this.chatLogRef.current.scrollTop = this.chatLogRef.current.scrollHeight;
                        });
                    }

                    // Fetch the merged query
                    const merged = await fetch("/", {
                        method: "POST",
                        body: formData,
                    });

                    if (merged.ok) {
                        const data = await merged.json();
                        const chatbotReply = data.chatbot_reply;

                        this.setState((prevState) => ({
                            chatHistory: [
                                ...prevState.chatHistory.slice(0, -3),
                                "BOT" + chatbotReply,
                            ],
                            query: "",
                            waiting: false,
                        }), () => {
                            // Scroll the chat log container to the bottom
                            this.chatLogRef.current.scrollTop = this.chatLogRef.current.scrollHeight;
                        });
                    }
                } catch (error) {
                    console.error(error);
                }
            };


            // Update "query" when user types
            handleInputChange = (event) => {
                this.setState({ query: event.target.value });
            };


            // Submit on "enter" button
            handleTextareaKeyDown = (event) => {
                if (event.key === "Enter" && !event.shiftKey) {
                    event.preventDefault();
                    this.handleSubmit(event);
                }
            };


            // Chat box resize buttons (up)
            handleUp = (event) => {
                event.preventDefault();
                this.setState((prevState) => ({
                    currentHeight: prevState.currentHeight > 60 ? prevState.currentHeight - 2 : prevState.currentHeight,
                }));
            }

            
            // Chat box resize buttons (down)
            handleDown = (event) => {
                event.preventDefault();
                this.setState((prevState) => ({
                    currentHeight: prevState.currentHeight < 100 ? prevState.currentHeight + 2 : prevState.currentHeight,
                }));
            }

            // Render to the DOM
            render() {
                return (
                    <div id="chat-container" className={this.state.about ? "small-width" : ""} style={ {height: this.state.currentHeight.toString()+'vh'} }>
                        <div className={`header ${this.state.headerHidden ? "hidden" : ""}`}>
                            <a href="/" className="logo">
                                <img className="logo" src=".././static/images/quickyelp_logo_black_bordered.png" alt="QuickYelp"/>
                            </a>

                            <div className="powered-section">
                                <p className="powered-by">
                                    Powered By:&nbsp;
                                    <a href="https://fusion.yelp.com/" target="_blank" rel="noopener noreferrer"><img className="powered-logos" src=".././static/images/yelp.png" alt="Yelp Fusion"/> </a>
                                    <a href="https://openai.com/blog/openai-api" target="_blank" rel="noopener noreferrer"><img className="powered-logos" src=".././static/images/openai.png" alt="OpenAI"/> </a>
                                    <a href="https://www.langchain.com/" target="_blank" rel="noopener noreferrer"><img className="powered-logos" src=".././static/images/langchain.png" alt="LangChain "/></a>
                                </p>
                                <p className="powered-by">
                                    GitHub:&nbsp;
                                    <a href="https://github.com/julian-z/QuickYelp"><img className="powered-logos" src=".././static/images/sm_github.png" alt="Github Repo"/></a>
                                </p>
                            </div>
                        </div>

                        <button id="toggle-header-button" className="toggle" onClick={this.toggleHeader}>
                            {this.state.headerHidden ? 
                                <img id="show-image" src=".././static/images/show_header.png" alt="Show"></img> : 
                                <img id="hide-image" src=".././static/images/hide_header.png" alt="Hide"></img>}
                        </button>

                        <div id="chat-log-container" ref={this.chatLogRef}>
                            <div id="chat-log-content">
                                {!this.state.chatHistory[0].startsWith("BOTNotice: ") &&
                                <div className="message-container">
                                    <div className={`${"business-display"} ${"animate-fade-in-left"}`}>
                                        <div className="business-photo-container">
                                            <img className="business-photo" src={this.businessImage} alt="Picture" />
                                        </div>
                                        <div className="business-info">
                                            <p className="business-name">{this.businessName}</p>
                                            <p className="business-address">{this.businessAddress}</p>
                                            <img className="business-rating" src={this.businessRating} alt="Rating" />
                                            <a href="{{ business_data['url'] }}" target="_blank" rel="noopener noreferrer"><img className="business-yelp" src=".././static/images/yelp_logo_word.png" alt="Yelp Page"/></a>
                                        </div>
                                    </div>
                                </div>
                                }
                                {this.state.chatHistory.map((entry, index) => (
                                    <div key={index} className="message-container">
                                        <div
                                            className={`${
                                                entry.startsWith("USR") ? "user-message" : "chatbot-message"
                                            } ${
                                                entry.startsWith("USR") ? "animate-fade-in-right" : "animate-fade-in-left"
                                            }`}

                                            style={entry.startsWith("BLU") ? { backgroundColor: "rgb(235, 246, 255)", animation: "fading-blu 5s ease-in-out infinite"} : {}}
                                        >
                                            {entry.startsWith("BOT") && <a href="{{ business_data['url'] }}" target="_blank" rel="noopener noreferrer"><img className="chat-logo" src=".././static/images/yelp_burst.png" alt="Yelp"/></a>}
                                            {entry.startsWith("BLU") && "🔍 "}
                                            {entry.substring(3) === "LOADING" && "Thinking... "}
                                            {entry.substring(3) === "LOADING" && (<span className="loading-animation"></span>)}
                                            {entry.substring(3) !== "LOADING" && entry.substring(3)}
                                        </div>
                                    </div>
                                ))}
                            </div>
                        </div>

                        <div className="query-bar">
                            <form id="chat-form" onSubmit={this.handleSubmit}>
                                <div id="chat-input-div">
                                    <input
                                        type="text"
                                        name="query"
                                        id="query"
                                        placeholder="What do the positive reviews say?"
                                        value={this.state.query}
                                        onChange={this.handleInputChange}
                                        autoComplete="off"
                                        required
                                        disabled={this.state.waiting}
                                    />
                                    <div className="resize-buttons">
                                        <button onClick={this.handleDown} className="resize"><img src=".././static/images/down.png" alt="Down"></img></button>
                                        <button onClick={this.handleUp} className="resize"><img src=".././static/images/up.png" alt="Up"></img></button>
                                    </div>
                                </div>
                                <input id="query-submit" type="submit" value="Ask" disabled={this.state.waiting}/>
                            </form>
                        </div>
                    </div>
                );
            }
        }
    
        // Render the ChatApp component
        ReactDOM.render(<ChatApp />, document.getElementById("react-chat"));
    </script>

    <script>
        // Event listener for cleaning up Redis
        window.addEventListener("beforeunload", async () => {
            try {
                const response = await fetch('/cleanup', {
                    method: 'POST'
                });
        
                if (!response.ok) {
                    console.error("CLEANUP REQUEST FAILED FROM JS");
                }
            } catch (error) {
                console.error("CLEANUP REQUEST ERROR FROM JS:", error);
            }
        });

        // Event listener for enter key
        window.addEventListener('keypress', (event) => {
            if (event.key == 'Enter') {
                document.querySelector("#query-submit").click();
            }
        });
    </script>
</body>
</html>

