<!DOCTYPE html>
<html>
<head>
    <title>QuickYelp - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='outputs.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
    <div id="react-chat"></div>
    
    <div class="popup-background" id="popup-background"></div>

    <div class="popup" id="popup">
        <div class="popup-content">
            <h2 style="color: black; font-weight: bold; text-align: center; font-size: 1.5rem; margin: 0rem 0rem 1rem 0rem;">
                QuickYelp - AI Yelp Review Scanner
            </h2>
            <form method="post">
                <label for="name">Business Name</label>
                <input type="text" name="name" autocomplete="off" required placeholder="Enter the name of a business on Yelp..."><br>
                <label for="location">Location<span class="info-icon" id="info-icon">🤔</span></label>
                <input type="text" name="location" autocomplete="off" required placeholder="Enter the city or address...">
                <div class="info-popup" id="info-popup"><strong>Examples</strong>: <em>"New York City"</em>, <em>"NYC"</em>, <em>"350 5th Ave, New York, NY 10118"</em>.<br><strong>Constraints</strong>: Must be less than (or equal) to 250 characters.</div>                
                <!-- <label for="url">Yelp URL:</label>
                <input type="text" name="url" autocomplete="off" required placeholder="https://www.yelp.com/biz/..."><br> -->
                <!-- <label for="num_pages">How Many Pages of Reviews Should I Scan? (0-5):</label>
                <input type="number" name="num_pages" min="0" max="5" autocomplete="off" required><br> -->
                <br><input type="submit" value="Start Scan (Estimated 15 Seconds)">
            </form>

            {% if error_message != "" %}
                <br><p class="chatbot-message" style="width: 100%; max-width: 100%;">
                    {{ '🤖 '+error_message }}
                </p>
            {% else %}
                <br><p class="chatbot-message" style="width: 100%; max-width: 100%;">
                    {{ '🤖 Welcome to QuickYelp! Please provide the necessary information about the business of interest.' }}
                </p>
            {% endif %}

            <br><p class="chatbot-message" style="width: 100%; max-width: 100%;">
                {{ "☝️ No business in mind? Try out this link! "}}
                <a href="{{ sample_link }}" style="color: rgb(0, 136, 255); font-weight: lighter;" target="_blank" rel="noopener noreferrer">{{sample_link}} </a>
            </p>

            <!-- <br><p class="chatbot-message" style="width: 100%; max-width: 100%;">
                {{ "❓ To put it simply, it takes more time to retrieve data from more pages. If you're looking for a quick overview, we recommend putting a lower number of pages!" }}
            </p><br> -->

            <br>
                <p class="chatbot-message" style="width: 100%; max-width: 100%; overflow: auto;">
                    🔍 What is QuickYelp?<br>
                    <em style="font-weight: lighter">
                        QuickYelp is a dynamic AI chatbot which scans through the reviews of a given Yelp business, then answers questions based on its training data. 
                        With this program, users are able to save a ton of time from having to manually read through the reviews themselves. 
                        Thus, our goal is to offer an easy and efficient way to retrieve a quick overview of a restaurant, as well as answer questions to the best of its ability.
                    </em><br><br>

                    🔍 How does it work?<br>
                    <em style="font-weight: lighter">
                        The application uses three main technologies: the Yelp Fusion API, the OpenAI API, and the LangChain API. To put it simply, Yelp Fusion is utilized
                        to retrieve data, while LangChain allows us to train OpenAI's GPT-3.5 language model using the data we have. To read more, you may visit the
                        GitHub repo here: <a href="https://github.com/julian-z/QuickYelp" style="color: rgb(0, 136, 255);" target="_blank" rel="noopener noreferrer">QuickYelp</a>
                    </em><br><br>

                    🔍 What can I ask it?<br>
                    <em style="font-weight: lighter">
                        You can ask it many questions, the chatbot will try to find the answer based on the information found on its respective Yelp page!
                        For example, you may ask "What is the price range?" or "What are the hours?". You can even ask "What are some popular dishes?"
                        and the chatbot will see what dishes are mentioned in the reviews. If the chatbot is ever stumped, it is most likely due to it not being
                        available on the Yelp website.
                    </em><br><br>

                    🔍 Is it always correct?<br>
                    <em style="font-weight: lighter">
                        As a disclaimer, <strong>no</strong>, the chatbot is not always accurate about what it states. The information used to reply to your query
                        is based entirely off of what it finds on Yelp, thus, if a review is inaccurate, it may taint the chatbot's perspective.
                    </em><br><br>

                    🔍 Can I save conversations?<br>
                    <em style="font-weight: lighter">
                        As of 8/20/2023, the user is not able to save their conversation with the chatbot. The data is stored temporarily and is deleted after 10 minutes
                        to optimize performance for users as well as be mindful of Yelp Fusion's data.
                    </em><br><br>

                    🔍 Why is there a 10 minute limit on chats?<br>
                    <em style="font-weight: lighter">
                        Each chat session takes up around 2 MB of storage due to the intensity of the FAISS indexes used to query the chatbot. In order to provide the most
                        swift user experience possible, we only allow data to be stored for 10 minutes. As mentioned above, this is also due to the data being utilized belonging
                        to Yelp & their Fusion API.
                    </em><br><br>

                    🔍 Is this website affiliated with Yelp?<br>
                    <em style="font-weight: lighter">
                        No, this website is not endorsed/affiliated with Yelp. The data being extracted is public information retrieved from Yelp Fusion, as mentioned above.
                        This website was developed entirely by Julian Zulfikar as a passion project. If any questions arise, the developer's contact information is at the bottom of the GitHub repo.
                    </em>
                </p>

            <!-- <div class="business-display" style="width: 100%; max-width: 100%;">
                <div class="business-photo-container">
                    <img class="review-photo" src=".././static/images/reviews/felisha.png" alt="Picture" />
                </div>
                <div class="business-info">
                    <p class="business-address" style="font-weight: 700;">{{ "Felisha A." }}</p>
                    <p class="business-address">{{ "\"QuickYelp is very resourceful as it gives me a great summary of any question I have regarding the restaurant!\"" }}</p>
                </div>
            </div> -->
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Information hover
            const infoIcon = document.getElementById("info-icon");
            const infoPopup = document.getElementById("info-popup");

            infoIcon.addEventListener("click", function() {
                infoPopup.style.display = "block";
            });

            document.addEventListener("click", function(event) {
                if (event.target !== infoIcon && event.target !== infoPopup) {
                    infoPopup.style.display = "none";
                }
            });

            // Submitting form
            document.getElementById("popup").style.display = "block";
            document.querySelector("#popup form").addEventListener("submit", function(event) {
                event.preventDefault();

                const chatbotMessage = document.querySelector(".popup-content .chatbot-message");
                chatbotMessage.textContent = `📶 Searching on Yelp for this business... `;

                const loadingAnimation = document.createElement("span");
                loadingAnimation.className = "loading-animation";
                chatbotMessage.appendChild(loadingAnimation);

                // const num_pages = parseInt(document.querySelector("input[name='num_pages']").value);
                const estimatedTime = 18;
                let elapsedSeconds = 0;
                const elapsedTimeInterval = setInterval(() => {
                    elapsedSeconds++;
                    const percentage = Math.round((elapsedSeconds / estimatedTime) * 100);
                    if (percentage < 100) {
                        chatbotMessage.innerHTML = `🧠 Give me one moment as I learn about this business... (${percentage}%)`;
                    }
                    else if (percentage > 200) {
                        chatbotMessage.innerHTML = `🧠 Taking longer than expected... please wait or refresh to try again.`;
                    }
                    else {
                        chatbotMessage.innerHTML = `🧠 Give me one moment as I learn about this business... (100%)`;
                    }
                    chatbotMessage.appendChild(loadingAnimation);
                }, 1000);
    
                // Disable submit button
                const form = document.querySelector("#popup form");
                const submitButton = form.querySelector("input[type='submit']");
                form.setAttribute("disabled", true);
                submitButton.setAttribute("disabled", true);

                event.target.submit();
            });
        });
    </script>

    <!-- react-chat -->
    <script type="text/babel">
        // Inherit React component
        class ChatApp extends React.Component {
            constructor(props) {
                super(props);
                this.state = {
                    chatHistory: [],
                    query: "",
                    waiting: true,
                    about: false,
                    headerHidden: false,
                };
                this.chatLogRef = React.createRef();
            }


            // Toggle the About section (TO-DO)
            toggleAboutSection = () => {
            };

            // Toggle the Header
            toggleHeader = () => {
            };


            // Handle asynchronous calls to Flask
            handleSubmit = async (event) => {
            };


            // Update "query" when user types
            handleInputChange = (event) => {
            };


            // Submit on "enter" button
            handleTextareaKeyDown = (event) => {
            };


            // Render to the DOM
            render() {
                return (
                    <div id="chat-container" className={this.state.about ? "small-width" : ""}>
                        <div className={`header ${this.state.headerHidden ? "hidden" : ""}`}>
                            <a href="/" className="logo">
                                <img className="logo" src=".././static/images/quickyelp_logo_black_bordered.png" alt="QuickYelp"/>
                            </a>

                            <div className="powered-section">
                                <p className="powered-by">
                                    Powered By:&nbsp;
                                    <a href="https://fusion.yelp.com/"><img className="powered-logos" src=".././static/images/yelp.png" alt="Yelp Fusion"/> </a>
                                    <a href="https://openai.com/blog/openai-api"><img className="powered-logos" src=".././static/images/openai.png" alt="OpenAI"/> </a>
                                    <a href="https://www.langchain.com/"><img className="powered-logos" src=".././static/images/langchain.png" alt="LangChain "/></a>
                                </p>
                                <p className="powered-by">
                                    GitHub:&nbsp;
                                    <a href="https://github.com/julian-z/QuickYelp"><img className="powered-logos" src=".././static/images/sm_github.png" alt="Github Repo"/></a>
                                </p>
                            </div>
                        </div>

                        <button id="toggle-header-button" className="toggle" onClick={this.toggleHeader}>
                            {this.state.headerHidden ? 
                                <img id="show-image" src=".././static/images/show_header.png" alt="Show"></img> : 
                                <img id="hide-image" src=".././static/images/hide_header.png" alt="Hide"></img>}
                        </button>

                        <div id="chat-log-container" ref={this.chatLogRef}>
                            <div id="chat-log-content">
                                {this.state.chatHistory.map((entry, index) => (
                                    <div key={index} className="message-container">
                                        <div
                                            className={`${
                                                entry.startsWith("USR") ? "user-message" : "chatbot-message"
                                            } ${
                                                entry.startsWith("USR") ? "animate-fade-in-right" : "animate-fade-in-left"
                                            }`}
                                        >
                                            {entry.startsWith("BOT") && "🤖 "}
                                            {entry.substring(3) === "LOADING" && "Thinking... "}
                                            {entry.substring(3) === "LOADING" && (<span className="loading-animation"></span>)}
                                            {entry.substring(3) !== "LOADING" && entry.substring(3)}
                                        </div>
                                    </div>
                                ))}
                            </div>
                        </div>
                        
                        <div className="query-bar">
                            <form id="chat-form" onSubmit={this.handleSubmit}>
                                <input
                                    type="text"
                                    name="query"
                                    id="query"
                                    placeholder="What do the positive reviews say?"
                                    value={this.state.query}
                                    onChange={this.handleInputChange}
                                    autocomplete="off"
                                    required
                                    disabled={true}
                                />
                                <input type="submit" value="Ask" disabled={true}/>
                            </form>
                        </div>
                    </div>
                );
            }
        }
    
        // Render the ChatApp component
        ReactDOM.render(<ChatApp />, document.getElementById("react-chat"));
    </script>
</body>
</html>
