<!DOCTYPE html>
<html>
<head>
    <title>QuickYelp - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='outputs.css') }}">
</head>
<body>
    <div class="popup" id="popup">
        <div class="popup-content">
            <h2 style="color: black; font-weight: bold; size:20px; text-align: center; font-size: 2rem;">QuickYelp - AI Yelp Review Scanner</h2>
            <form method="post">
                <label for="url">Yelp URL:</label>
                <input type="text" name="url" autocomplete="off" required><br>
                <label for="num_pages">Number of review pages (0-5):</label>
                <input type="number" name="num_pages" min="0" max="5" autocomplete="off" required><br>
                <input type="submit" value="Start ChatBot">
            </form>
        </div>
    </div>
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("popup").style.display = "block";
        });
    </script>
</body>
</html>
